// colors
$main-blue: #36afca;
$yellow: #fff256;
$orange: #ff8c00;
$black: #333;
$white: #fff;

$white-rgba: rgba(255, 255, 255, 0.99);
$black-rgba: rgba(51, 51, 51, 0.99);
$yellow-rgba: rgba(255, 242, 86, 0.99);
$main-blue-rgba: rgba(255, 140, 0, 0.99);

$transparent-gray: rgba(0, 0, 0, 0.4);

// common
$side-padding-pc: 30px;
$side-padding-sp: 15px;
